:root
	{font-size:10px;font-family:Consolas,Helvetica,Arial;--distanceY:-40px;}
*
	{margin:0;padding:0;box-sizing:border-box;}
body
	{background-color:#000000;font-size:1.6rem;color:#6fe6ff;}
h1, h2, h3, h4
	{margin-bottom:5px;font-weight:100;color:#afffff;}
h1
	{font-size:3.8rem;}
h2
	{font-size:2.7rem;}
h3
	{font-size:2rem;}
h4
	{font-size:1.6rem;}
ul
	{margin-bottom:40px;list-style-type:none;}
p
	{text-align:justify;}

.fond {
	position:fixed;
	z-index:-100;
	top:-200px;
	width:100%;
	height:1080px;
	
	background-image:url(https://idgeocam.github.io/geomatics/matrix.jpg);
	background-repeat:no-repeat;
	
	animation: parallax 1s linear;
	animation-delay:calc(var(--scroll) * -1s);
	animation-fill-mode:both;
	animation-play-state:paused;
}

.grille {
	max-width:1000px;
	margin: 40px auto 0 auto;
	padding:10px;
	
	background-color:rgba(0,0,0,0.8);
	box-shadow:0 0 40px 40px rgba(0,0,0,0.75);
	
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	gap:40px;
}
.nom	{grid-area:1/1/span 1/span 5;}
.head	{grid-area:2/1/span 1/span 5;}	.head2	{grid-area:2/6/span 1/span 7;}
.main	{grid-area:3/1/span 1/span 7;}	.side	{grid-area:3/8/span 1/span 5;}

.date 
	{margin:2px 4px 0 0;float:right;}
.effet {
	background-color:rgba(150,220,255,.15);
	background-clip:padding-box;
	border-radius:10px;
	box-shadow:0 0px 5px 5px rgba(150,220,255,.15);	
}

@media only screen and (max-width:799px) {
	.grille
		{grid-template-columns: none;}
	.nom
		{grid-area:1/1/span 1/span 1;}
	.head
		{grid-area:1/2/span 1/span 1;}
	.head2
		{grid-area:2/1/span 1/span 2;}
	.main
		{grid-area:3/1/span 1/span 2;}
	.side
		{grid-area:4/1/span 1/span 2;}
	:root
		{--distanceY:-100px;}
}
@keyframes parallax {
	to
		{transform: translateY(var(--distanceY));}
}
