* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	--distanceY:-75px;
}
:root {
	font-size:10px;
	font-family:Courier New,Helvetica,Arial;
	letter-spacing:-.03rem;
}
body {
	background-color:#000000;
}
#fond {
	position:fixed;
	z-index:-100;
	top:-170px;
	width:100%;
	height:1080px;
	background-image:url(matrix.jpg);
	background-repeat:no-repeat;
	background-position:center;
	
	animation: parallax 1s linear;
	animation-delay:calc(var(--scroll) * -1s);
	animation-fill-mode:both;
	animation-play-state:paused;
}
ul, p {
	padding:0 0 35px 0;
	list-style-type:none;
}
h1 {font-size:3.2rem;}
h2 {font-size:2.8rem;}
h3 {font-size:2rem;}
h4 {font-size:1.7rem;}
h1, h2, h3, h4 {
	padding:0 0 5px 0;
	font-weight:100;
	color:#cfffff;
}
#grille {
	display:grid;
	grid-template-columns:280px 280px 280px;
	grid-template-areas:'head head head'
						'main main side'
						'foot foot foot';
	max-width:840px;
	margin:0 auto;
	background-color:rgba(0,0,0,0.8);
	box-shadow:0 0 600px 150px #000000;
}
#grille > div {
	padding:10px;
	text-align:left;
	font-size:1.6rem;
	color:#6fe6ff;
}
#grille div {
}
#head {grid-area:head;}
#head > p {text-align:justify;}
#side {grid-area:side;}
#foot {grid-area:foot;}
#main {
	grid-area:main;
	display:grid;
	grid-template-columns:auto none none max-content;
	grid-template-areas:'entete entete entete entete'
						'titre1 titre1 titre1 date1'
						'liste1 liste1 liste1 liste1'
						'titre2 titre2 titre2 date2'
						'liste2 liste2 liste2 liste2'
						'titre3 titre3 titre3 date3'
						'liste3 liste3 liste3 liste3'
						'titre4 titre4 titre4 date4'
						'liste4 liste4 liste4 liste4'
						'titre5 titre5 titre5 date5'
						'liste5 liste5 liste5 liste5'
						'titre6 titre6 titre6 date6'
						'liste6 liste6 liste6 liste6'
						'titre7 titre7 titre7 date7'
						'liste7 liste7 liste7 liste7';
}
#head h1,
#main h2,
#side h2,
#foot h2 {
	background-color:rgba(150,220,255,.2);
	background-clip:content-box;
}
#entete {grid-area:entete;}
#titre1 {grid-area:titre1;}
#titre2 {grid-area:titre2;}
#titre3 {grid-area:titre3;}
#titre4 {grid-area:titre4;}
#titre5 {grid-area:titre5;}
#titre6 {grid-area:titre6;}
#titre7 {grid-area:titre7;}
#date1 {grid-area:date1;align-self:center;}
#date2 {grid-area:date2;align-self:center;}
#date3 {grid-area:date3;align-self:center;}
#date4 {grid-area:date4;align-self:center;}
#date5 {grid-area:date5;align-self:center;}
#date6 {grid-area:date6;align-self:center;}
#date7 {grid-area:date7;align-self:center;}
#liste1 {grid-area:liste1;}
#liste2 {grid-area:liste2;}
#liste3 {grid-area:liste3;}
#liste4 {grid-area:liste4;}
#liste5 {grid-area:liste5;}
#liste6 {grid-area:liste6;}
#liste7 {grid-area:liste7;}

@media only screen and (max-width:5000px) {
	* {--distanceY:-75px;}
}
@media only screen and (max-width:856px) {	
	#grille { 
		grid-template-areas:'head' 'main' 'foot' 'side';
		grid-template-columns:auto;
	}
	* {--distanceY:-100px;}
}
@keyframes parallax {
	to {transform: translateY(var(--distanceY));}
}

