@font-face
	{font-display:swap;font-family:sometype;src:url(SometypeMono-Regular.ttf);}
:root {
	--clair:hsl(190deg 100% 75%);	
	--sombre:hsl(190deg 100% 0%);
	--fond:hsla(190deg 100% 0%/0.6);
	--titre:hsla(190deg 100% 50%);
	--neon:hsl(190deg 100% 50%/0.12);

	font-size:10px;
	font-family:sometype,monospace,monaco;
}
*
	{margin:0;padding:0;box-sizing:border-box;}
body {
	overflow-wrap:anywhere;
	font-size:1.6rem;
	line-height:1.4;
	background-color:var(--sombre);
	color:var(--clair);
}
h1, h2, h3, h4, time
	{font-weight:100;color:var(--titre);}
h1
	{font-size:4rem;margin-top:20px;}
h2
	{font-size:3rem;}
h3 {
	font-size:2rem;
	background-color:var(--neon);
	box-shadow:0px 0px 0.5rem 0.5rem var(--neon);
	border-radius:0.3rem;
}
time
	{float:right;margin-left:1rem;}
p
	{text-align:justify;}
ul
	{list-style-type:none;}
img:hover
	{cursor:pointer;filter:drop-shadow(0px 0px 4px var(--titre));}
img:not(:hover)
	{transition:filter 6s cubic-bezier(0,1,0.25,1);}

@keyframes parallax {
	to {top:-300px;}
}
.fond {
	position:fixed;
	z-index:-9999;
	top:-200px;
	left:-40px;
	width:110%;
	height:1200px;
	background-image:url(matrix4.jpg);
	background-repeat:repeat-x;
	
	animation:parallax linear;
	animation-timeline:scroll();
}
.grille {
	max-width:110rem;
	margin-inline:auto;
	display:grid;
	grid-template-columns:repeat(7, 1fr);
	grid-template-areas:'name name name name name name name'
					'info info info head head head head'
					'icon icon icon head head head head'
					'main main main main side side side';
}
.item {
	background-color:var(--fond);
	box-shadow:0 0 2rem 2rem var(--fond);
	margin-inline:1.5rem;
	margin-bottom:3rem;
}
.name
	{grid-area:name;}
.head
	{grid-area:head;}
.info
	{grid-area:info;}
.icon
	{grid-area:icon;}
.main
	{grid-area:main;}
.side
	{grid-area:side;align-self:start;}

@media only screen and (max-width:900px) {
	.grille {
		grid-template-columns:1fr auto;
		grid-template-areas:'name name'
						'info icon'
						'head head'
						'main main'
						'side side';
	}
}
@media only print {
	:root {
		font-size:13.1px;
		--clair:hsl(190deg 100% 0%);
		--titre:hsl(190deg 100% 15%);
		--sombre:hsl(190deg 100% 100%);
	}
	h1
		{margin-top:0;}
	h3
		{box-shadow:none;}
	.grille {
		grid-template-columns:5fr 4fr;
		grid-template-areas:'main name'
						'main info'
						'main head'
						'main side';
	}
	.item
		{box-shadow:none;margin-block:2rem;}
	.icon
		{display:none;}
	.name
		{text-align:right;}
	.info
		{text-align:right;}
}
